body {
  margin: 0;
  text-align: center;
  font-family: kalam;
  background-color: #374045;
}

/*******************************************************************************/
.title {
  font-family: Teko;
}

.head {
  background-color: #f88f01;
  font-family: Teko;
  font-size: 4rem;
  padding: 20px 0;
  border: 20px;
  border-color: #58391c;
}

.head:hover {
  color: #e4fbff;
}

.ud {
  border-radius: 1000px;
}

.middle {
  color: #e27802;
  font-size: 2rem;
  background-color: #6a492b;
  display: block;
  padding: 100px 100px;
  border: 4px;
  border-radius: 150px;
  margin: 80px auto;
}

.images {
  background-color: #ffbe0f;
  border: 10px;
  border-radius: 50px;
}

.bottom {
  background-color: #fff3e6;
  border: 100px;
  border-color: #2c061f;
  padding: 20px 0 20px 0;
}

.wd {
  margin: 0 0 0 0;
}

.uday {
  border: 10px;
  border-radius: 40px;
  position: relative;
  left: 50%;
}
.he{
  display: inline-block;
  position: relative;
  bottom: 250px;
  left: 100px;
}

.she{
  display: inline-block;
  position: relative;
  bottom: 220px;
  right: 230px;
}

.ceo{
  background-color: #dddddd;
}

.shiv{
  position: relative;
  right: 450px;
}
